<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    {% block head %}{% endblock head %}
</head>
<body class="bg-gray-100">
    <!-- messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flex justify-center fixed top-0 mt-2 px-2 w-full">
      <div class="w-full md:w-1/2 lg:w-1/3">
        {% for category, message in messages %}
        <div class="px-4 py-2 mb-4 bg-blue-100 border border-blue-400 text-blue-700 rounded-md flex items-center justify-between">
         <span>{{ message }}</span>
         <button type="button" class="ml-2 text-blue-500 hover:text-blue-700" aria-label="Close">&times;</button>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock body %}
</body>
</html>