{% extends "_base.html" %}

{% block head %}
<title>Purchase Coin</title>
{% endblock head %}

{% block body %}
{% include "components/navbar.html" %}
<div class="flex flex-col items-center justify-center min-h-[100vh-300px] bg-gray-100 py-4">
    <div class="max-w-md w-full space-y-8">
        <button class="w-10 h-10 md:w-12 md:h-12 m-2 md:m-0 rounded-3xl shadow-sm hover:shadow-md bg-white flex justify-center items-center mb-3" onclick="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
        </button>
        <div>
            <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">Purchase Coins</h2>
            <p class="text-center ">Get the coins you need to organize your notes photos
            </p>
        </div>
        <form action="{{ url_for('purchase.checkout') }}" method="post" class="card shadow-lg rounded-2xl bg-base-100">
            <div class="px-6 py-8">
                <div class="flex items-center justify-between">
                    <div>
                        <h3 class="text-lg font-bold text-gray-900">Coin Packages</h3>
                        <p class="text-sm text-gray-600 dark:text-gray-400">Choose the package that fits your needs.</p>
                    </div>
                    <div class="flex items-center">
                        <span class="text-gray-900 font-bold text-2xl mr-2">$1</span>
                        <span class="text-gray-600 dark:text-gray-400 text-sm">/25 coins</span>
                    </div>
                </div>
                <div class="mt-6">
                    <select id="price" name="price" class="select select-bordered select-primary w-full" required>
                        <option disable selected>Select Coins</option>
                        <option value="2">50coins - $2 (10% discount)</option>
                        <option value="8">500coins - $8 (20% discount)</option>
                      </select>
                </div>
                <div class="mt-6 flex items-center justify-between">
                    <span class="text-gray-900 font-bold text-xl">Total</span>
                    <span class="text-gray-900 font-bold text-2xl">$ <span id="total-price">1</span></span>
                </div>
            </div>
            <input type="text"  class="hidden">
            <div class="bg-gray-100 px-6 py-4 flex justify-end">
                <button type="submit"
                    class="btn btn-primary rounded-full font-bold">
                    Purchase Coins
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('price').addEventListener('change', (e)=>{
        let totalPrice = e.target.value;
        document.getElementById('total-price').innerText = totalPrice;
    })
</script>
{% endblock body %}