{% extends "_base.html" %}

{% block head %}
  <title>Login</title>
{% endblock head %}

{% block body %}

<div class="flex justify-center min-h-screen items-center px-4">
  <div class="w-full max-w-[450px]">
    <main class="  p-8 bg-white rounded-2xl shadow-md">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="text-3xl mb-6 font-semibold text-center">Sign In</h1>

        <div class="mb-4">
          {{ form.email.label(class="label") }}
          {{ form.email(placeholder="Email", class="input input-bordered w-full") }}
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <div class="text-red-600">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="mb-4">
          {{ form.password.label(class="label") }}
          {{ form.password(placeholder="Password", class="input input-bordered w-full") }}
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <div class="text-red-600">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <button class="btn btn-primary w-full mt-4" type="submit">Sign in</button>
        <p class="mt-4 text-center">Don't have an account? <a class="text-blue-500 hover:underline" href="{{ url_for('auth.register') }}">Register now</a></p>
      </form>
    </main>
  </div>
</div>

{% endblock body %}
